body {
  background: #eae0d2;
  color: #292929;
  font-family: 'Old Standard TT', serif;
}

* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

a {
  text-decoration: none;

  &, &:visited {
    color: #806422;
  }

  &:hover {
     text-decoration: underline;
  }
}

h1, h2, .subtitle {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 300%;
}

button {
  font-family: 'Old Standard TT', serif;
}

.subtitle {
  font-size: 100%;
}

.large-subtitle {
  font-size: 250%;
}

[role="main"] {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: 'IM Fell English', serif;
  font-size: 120%;
  line-height: 26px;
}
